
$white: #fff;
$light_blue: #3ccace;
$orange: #ffb340;
$gray: #333;
$light_gray: #f5f5f5;
$cyan_blue: #0099e8;
$pale_gray: #ccc;
$gray2: #888888;
$pale_gray2: #eee;
$pale_gray3: #dedede;
$gray3: #f8f8f8;
$light_brown: #ffb340;
$snow: #fafafa;
$blue: #0099e8;
$black: #000000;
$dark_gray: #272727;
$pink: #fff0f5;