@mixin require() {
  background-color: $light_blue;
  color: $white;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  font-size: 12px;
  vertical-align: top;
  font-weight: bold;
}

@mixin optional {
  background-color: $pale_gray;
  color: $white;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  font-size: 12px;
  vertical-align: top;
  font-weight: bold;
}

@mixin field() {
  width: 100%;
  height: 48px;
  border-radius: 4px;
  border: 1px solid $pale_gray;
  background-color: $white;
  line-height: 1.5;
  font-size: 16px;
}

@mixin half-field() {
  margin: 8px 8px 0 0;
  width: calc(50% - 6px);
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid $pale_gray;
  background: $white;
  line-height: 1.5;
  font-size: 16px;
}

@mixin birthday($width: calc(34% - 17px)) {
  width: $width;
  margin: 8px 0 0;
  font-size: inherit;
  line-height: inherit;
  background-color: $white;
  padding: 0 10px;
  height: 48px;
}

@mixin btn() {
  margin: 24px 0 0;
  background-color: $light_blue;
  border: 1px solid $light_blue;
  color: $white;
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  transition: all ease-out .3s;
  text-align: center;
  cursor: pointer;
}

@mixin login-field() {
  width: 100%;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid $pale_gray;
  background: $white;
  line-height: 1.5;
  font-size: 16px;
}

@mixin form-label {
  padding: 15px 40px 0;
  &--label {
    font-weight: 600;
  }
  &--require {
    @include require();
  }
  &--optional {
    @include optional;
  }
  &--field {
    margin-top: 10px;
    padding-left: 15px;
    @include field();
  }
  &--area {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    height: 150px;
    border-radius: 4px;
    border: 1px solid $pale_gray;
    background-color: $white;
    font-size: 16px;
  }
}

@mixin detail-bar() {
  padding: 0 10px 0 0;
  float: left;
  text-decoration: none;
  color: $gray;
}

@mixin detail-icon() {
  padding: 0 10px 0 0;
  float: left;
}

@mixin item-table ($border: 0px) {
  .item-left {
    width: 20%;
    background-color: $pale_gray2;
    font-weight: 400;
    padding: 8px;
    border: 1px solid $pale_gray3;
    font-size: 14px;
    text-align: center;
  }
  .item-right {
    width: 61%;
    padding: 15px 15px;
    border: 1px solid $pale_gray3;
    font-size: 14px;
    &--box {
      text-decoration: none;
      color: $light_blue;
      &--link {
        text-decoration: none;
        color: $light_blue;
      }
    }
  }
}

@mixin link() {
  text-decoration: none;
  color: $light_blue;
}
