.mypage
  = render "products/header"
  -# .mypage-main
  -#   -# = render "mypage-side"
  -#   .mypage-main__container
  -#     .mypage-main__container__content
  -#       .mypage-main__container__content--logout
  -#         ログアウトしました
  -#       .mypage-main__container__content--top
  -#         = link_to "トップに戻る", root_path
  -# = render "products/footer" 
  .mypage-middle
    .mypage-middle__content
      .mypage-middle__content--logout
        ログアウトしました
      .mypage-middle__content--backhome
        = link_to "トップページに戻る", root_path
  = render "products/footer" 
