%h1 Home#index
%p Find me in app/views/home/index.html.haml
%p 
  = link_to "ログアウト", destroy_user_session_path, method: :delete
  = link_to 'プロフィール', edit_profile_path

  - if current_user.address.blank?
    = link_to '発送元・お届け先住所変更', new_users_address_path
  - else
    = link_to '発送元・お届け先住所変更', edit_users_address_path(current_user.address.id)