.app-logo {
  display: flex;
  justify-content: center;
  &__apple {
    width: 185px;
    padding: 13px 0px 10px 15px;
    a {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
  &__google {
    width: 200px;
    a {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
}