.buy-confirmation {
  
  &__container {
    max-width: 700px;
    background-color: $white;
    margin: 0 auto;
    .buy-head {
      font-size: 18px;
      font-weight: bold;
      line-height: 1.5;
      text-align: center;
      padding: 16px;
    }
    .buy-content {
      padding: 24px 16px;
      border-top: solid 2px $light_gray;
      .item-box {
        max-width: 350px;
        margin: 0 auto;
        display: flex;
        &__image {
          width: 80px;
          height: 80px;
          &--img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        &__detail {
          font-size: 14px;
          margin-left: 16px;
          &--name {
            margin: 0 0 8px;
          }
        }
      }
      .buy-form {
        max-width: 350px;
        margin: 0 auto;
        &__price {
          display: flex;
          justify-content: space-between;
          font-weight: bold;
          &--label {
            font-size: 18px;
          }
          &--value {
            font-size: 24px;
          }
        }
      
        &__point {
          margin: 24px 0 32px;
          font-size: 14px;
          input#point {
            line-height: 1.5;
            transform: scale(1.5);
          }
          &--label {
            margin-left: 5px;
          }
        }
        &__info {
          font-size: 14px;
          padding: 32px 0;
          border-top: solid 2px $light_gray;
          &--label {
            font-weight: bold;
          }
          &--text { 
            margin: 8px 0 0;
          }
        }
        &__submit {
          &--btn {
            @include btn();
          }
        }
      }
    }    
  }
}