.header {
  background-color: $white;
  padding: 15px 60px 10px;
  &__box {
    width: 100%;
    max-width: 1040px;
    margin: 0 auto; 
  }
  .header-main {
    width: 100%;  
    display: flex;
    align-items: center;
    &__icon {
      margin-right: 30px;
      &--logo {
        width: 140px; 
      } 
    }
    &__search {
      width: 100%;
      &__input {
        width: calc( 100% - 36px );
        float: left;
        &--key {
          width: 100%;
          height: 36px;
          font-size: 16px;
          padding-left: 5px;
        }
      }
      &__submit {
        width: 36px;
        height: 36px;
        background-color: $light_blue;
        float: left; 
        label {
          width: 100%;
          height: 100%;
          cursor: pointer;
        }
        &--btn {
          display: none;
          cursor: pointer;
        }
        &--icon {
          width: 100%;
          padding: 8px;
        }
      }  
    }   
  } 
  .header-nav {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    &__left {
      display: flex;
      position: relative;
      &__category {
        line-height: 38px;
        padding-left: 20px;
        &:first-child {
          padding-left: 0px;
        }
        a {
          color: $gray;
          line-height: 32px;
          padding: 10px 20px 20px 0px;
          text-decoration: none;
          &:hover {
            color: $orange;         
          }
        }
        &:hover ul.first {
          display: block;
        }
        &__tree {
          width: 240px;
          background-color: $white;
          position: absolute;
          top: 40px;
          left: 0px;
          z-index: 10;
          ul.first {
            display: none;
            position: relative;
            li {
              a {
                width: 240px;
                line-height: 38px;
                display: block;
                padding: 3px 8px 3px 5px;
                border-bottom: solid 1px $gray3;
              }
              &:hover ul.second {
                display: block;
              }
              ul.second {
                display: none;
                min-height: 480px;
                background-color: $white;
                position: absolute;
                top: 0px;
                left: 240px;
                li {
                  a {
                    @include pulldown-menu();
                  }
                  &:hover ul.third {
                    display: block;
                  }
                  ul.third {
                    display: none;
                    min-height: 480px;
                    background-color: $white;
                    position: absolute;
                    top: 0px;
                    left: 250px;
                    li {
                      a {
                        @include pulldown-menu();
                      }
                    } 
                  } 
                }
              }
            }
          }
        }      
      }
    }
    &__right {
      display: flex;
      &__user {
        margin-left: 15px;
        a {
          color: $gray;
          line-height: 32px;
          padding: 10px 0px;
          text-decoration: none;
        }
      }
    }
  }
}