* {
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
}

.main {
  .main-visual {
    width: 100%;
    height: 560px;
    background-image: image_url("pict/bg-mainVisual-pict_pc.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    padding: 0 60px;
    display: flex;
    align-items: center;
    &__content {
      width: 100%;
      max-width: 1280px;
      color: white;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      margin: 0 auto;
      padding-top: 35px;
    }
    &__subtitle {
      font-size: 60px;
      line-height: 1.2;
    }
    &__text {
      font-size: 18px;
      line-height: 1.8;
      margin-top: 16px;
    }
    &__app {
      margin-top: 24px;
      display: flex;
      vertical-align: bottom;
    }
  }
  .main-introduction {
    padding: 60px 20px;
    &__subtitle {
      font-size: 26px;
      font-weight: bold;
      line-height: 1.4;
      text-align: center;
      padding-bottom: 15px;
      margin-bottom: 25px;
      position: relative;
      &:after {
        content: "";
        width: 70px;
        height: 4px;
        background-color: $light_blue;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &__lists {
      width: 100%;
      max-width: 1020px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
    }
    &__list {
      width: 30%;
    }
    &__image {
      margin-bottom: 20px;
      position: relative;
    }
    &__img {
      width: 100%;
      vertical-align: bottom;
    }
    &__number {
      font-size: 30px;
      color: $white;
      padding: 10px 20px;
      background-color: $light_blue;
      border-radius: 4%;
      position: absolute;
      top: 0;
      left: 0;
    }
    &__text {
      font-size: 24px;
      font-weight: bold;
      span {
        color: $light_blue;
      }
    }
    &__description {
      font-size: 18px;
      margin-top: 16px;
    }
  }
  .main-middle {
    height: 400px;
    background-image: image_url("pict/bg-topMiddleDl-pict.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right bottom;
    display: flex;
    align-items: center;
    &__content {
      width: 100%;
      max-width: 1040px;
      color: #fff;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      margin: 0 auto;
      padding-top: 35px;
    }
    &__subtitle {
      font-size: 27px;
      font-weight: bold;
      line-height: 1.4;
    }
    &__text {
      font-size: 18px;
      line-height: 1.5;
      margin: 20px 0 30px;
    }
    &__app {
      margin-top: 24px;
      display: flex;
      vertical-align: bottom;
    }
  }
  .main-feature {
    padding: 60px 100px;

    &__head {
      font-size: 27px;
      font-weight: bold;
      line-height: 1.5;
      text-align: center;
      padding-bottom: 15px;
      margin-bottom: 25px;
      position: relative;
      &:after {
        content: "";
        width: 70px;
        height: 4px;
        background-color: #3ccace;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &__lists {
      width: 100%;
      max-width: 1020px;
      margin: 0 auto;
      display: flex;
      justify-content: space-evenly;
    }
    &__list {
      width: calc( 1/3 * 100% );
      padding: 0 20px;
    }
    &__image {
      width: 70%;
      margin: 0 auto;
    }
    &__img {
      width: 100%;
      vertical-align: bottom;
      
    }
    &__subtitle {
      font-size: 19px;
      font-weight: bold;
      margin: 30px 0 10px;
    }
    &__detail {
      font-size: 17px;
      margin-bottom: 40px; 
    }
  }
  .main-pickup {
    background-color: #f8f8f8;
    padding-top: 80px;
    padding-bottom: 25px;
    &:last-child {
      padding-bottom: 80px;
    }
    &__head {
      font-size: 28px;
      font-weight: bold;
      line-height: 1.4;
      text-align: center;
    }
    &__product-head {
      text-align: center;
      margin-bottom: 25px;
      a {
        font-size: 24px;
        font-weight: bold;
        color: $light_blue;
        text-decoration: none;

      }
    }
    &__product-lists {
      width: 780px;
      margin: 0 auto;
      display: flex;
      justify-content: space-evenly;
    }
    &__product-list {
      width: 220px;
      &--image {
        width: 220px;
        height: 150px; 
      }
      &--img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &--body {
        color: #333;
        background-color: white;
        padding: 16px;
      }
      &--name {
        font-size: 16px;
        line-height: 1.5;
      }
      &--detail {
        font-size: 16px;
        display: flex;
        justify-content: space-between;
      }
      &--price {
        span {
          font-size: 10px;
        }
      }
      &--like {
        height: 16px;
      }
      a {
        text-decoration: none;
      }
    }
  }
}
.wrapper {
  background-color: $light_gray;
}
.form {
  &__content {
    background-color: $white;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 700px;
    border-bottom: solid 1px $light_gray;
    &__title {
      display: flex;
      padding: 0 40px 20px;
      color: $gray2;
      font-weight: bold;
      align-items: center;
      font-size: 14px;
      &--title {
        padding-right: 5px;
      }
      &--question {
        a:link { color: rgb(0, 149, 238); text-decoration:none;}
        a:visited { color: rgb(0, 149, 238); text-decoration:none;}
        a:hover { color: rgb(0, 149, 238); text-decoration:none;}
        a:active { color: rgb(0, 149, 238); text-decoration:none;}
      }
    }
    &__image {
      @include form-label;
      &--comment {
        margin-top: 15px;
      }
      &--file {
        margin-top: 10px;
      }
      &__upload {
        margin-top: 10px;
        border: dashed 1px $pale_gray;
        text-align: center;
        background-color: $light_gray;
        &--icon {
          display: block;
          padding: 40px 0;
          font-size: 1.3rem;
          cursor: pointer;
          &--text {
            padding-top: 10px;
            font-size: 0.7rem;
            cursor: pointer;
          }
        }
        &--file {
          display: none;
        }
      }
    }
    &__name {
      @include form-label;
      margin-bottom: 20px;
    }
    &__description {
      @include form-label;
      &--counter {
        margin-top: 10px;
        text-align: right;
        font-size: 0.75rem;
        color: $gray2;
      }
    }
    &__category {
      @include form-label;
      .category-select-form__added {
        margin-top: 5px;
      }
      #size_wrapper {
        margin-top: 30px;
        margin-bottom: 20px;
      }
    }
    &__size {
      @include form-label;
    }
    &__brand {
      @include form-label;
    }
    &__condition {
      @include form-label;
    }
    &__method {
      @include form-label;
    }
    &__area {
      @include form-label;
    }
    &__days {
      @include form-label;
    }
    &__price {
      line-height: 48px;
      @include form-label;
      &--yen {
        display: flex;
        float: right;
        align-items: center;
      }
      &--half-field {
        text-align: right;
        height: 48px;
        width: 280px;
        margin-left: 10px;
        padding: 10px 16px 8px;
        border-radius: 4px;
        border: 1px solid $pale_gray;
        background: $white;
        line-height: 1.5;
        font-size: 16px;
      }
    }
    .attention {
      color: red;
      font-size: 0.9rem;
      text-align: right;
    }
    &__fee {
      margin: 0 40px;
      display: flex;
      justify-content: space-between;
      height: 65px;
      line-height: 65px;
      border-bottom: solid 1px $light_gray;
    }
    &__profit {
      margin: 0 40px;
      display: flex;
      justify-content: space-between;
      height: 65px;
      line-height: 65px;
    }
    &__btn {
      text-align: center;
      margin: 30px 0;
      &--submit {
        width: 350px;
        height: 48px;
        background-color: $light_blue;
        color: $white;
        border-radius: 5px;
        border: none;
        font-size: 1.1rem;
        font-weight: bold;
        margin-bottom: 24px;
      }
      &--back {
        width: 350px;
        height: 48px;
        line-height: 48px;
        background-color: $pale_gray;
        border-radius: 5px;
        font-size: 1.1rem;
        font-weight: bold;
        border: solid 1px $pale_gray;
        margin: 0 auto;
        a:link { color: $gray; text-decoration:none; }
        a:visited { color: $gray; text-decoration:none; }
        a:hover { color: $gray; text-decoration:none; }
        a:active { color: $gray; text-decoration:none; }
      }
    }
    &__attention {
      padding: 0 40px;
      font-size: 0.75rem;
      margin-bottom: 30px;
    }
  }
}
#previews {
  display: flex;
  .js-preview {
    margin-top: 15px;
    background-color: $light_gray;
    text-align: center;
    margin-right: 4px;
    width: 120px;
    height: 150px;
    .js-img {
      height: 120px;
      padding: 10px 0;
    }
    .js-remove {
      padding-top: 4px;
      font-size: 0.9rem;
      cursor: pointer;
      border-top: solid 1px $pale_gray;
    }
  }
  .js-file_group {
    margin-top: 15px;
    height: 150px;
    width: 100%;
    line-height: 150px;
    border: dashed 1px $pale_gray;
    text-align: center;
    background-color: $light_gray;
    font-size: 1.3rem;
    cursor: pointer;
    .js-file {
      display: none;
    }
  }
  .changed-js-file_group {
    font-size: 0;
    display: none;
    width: 0;
    height: 0;
  }
}
.changed-js-file_group {
  font-size: 0;
  display: none;
  width: 0;
  height: 0;
}
#previews2{
  display: flex;
  .js-preview {
    margin-top: 15px;
    background-color: $light_gray;
    text-align: center;
    margin-right: 4px;
    width: 120px;
    height: 150px;
    .js-img {
      height: 120px;
      padding: 10px 0;
    }
    .js-remove {
      padding-top: 4px;
      font-size: 0.9rem;
      cursor: pointer;
      border-top: solid 1px $pale_gray;
      // .hidden-destroy {
      //   display: none;
      // }
    }
  }
  .js-file_group {
    margin-top: 15px;
    height: 150px;
    width: 100%;
    line-height: 150px;
    border: dashed 1px $pale_gray;
    text-align: center;
    background-color: $light_gray;
    font-size: 1.3rem;
    cursor: pointer;
    .js-file {
      display: none;
    }
  }
  .changed-js-file_group {
    font-size: 0;
    display: none;
    width: 0;
    height: 0;
  }
}
// #delete-id {
  // .hidden-destroy {
  //   display: none;
//   }
// }