.wrapper {
  position: relative;
  .purchase-btn {
    width: 120px;
    padding: 15px;
    border-radius: 4%;
    background-color: $light_blue;
    text-align: center;
    position: fixed;
    right: 32px;
    bottom: 32px;
    &:hover {
      opacity: 0.9;
    }
    &__text {
      font-size: 18px;
      color: $white;
      margin-bottom: 5px;
    }
    &__icon {
    }
    &__img {
      width: 60%;
      vertical-align: bottom;
    } 
    a {
      text-decoration: none;
    }
  }
}