.wrapper {
  position: relative;
  .purchase-btn {
    width: 120px;
    padding: 15px;
    border-radius: 4%;
    background-color: #3ccace;
    text-align: center;
    position: fixed;
    right: 32px;
    bottom: 32px;
    &__text {
      font-size: 18px;
      color: #fff;
      margin-bottom: 5px;
    }
    &__icon {
    }
    &__img {
      width: 60%;
      vertical-align: bottom;
    } 
    a {
      text-decoration: none;
    }
  }
}