.mypage {
  min-width: 1068px;
  background-color: $light_gray;
  .mypage-main {
    width: 1020px;
    margin: 40px auto 0;
    padding: 0 0 40px;
    @include clearfix();
    &__container {
      width: 700px;
      float: right; 
      .card-info {
        background: $white;
        &__head {
          font-size: 24px;
          font-weight: bold;
          text-align: center;
          padding: 8px 24px;
          border-bottom: solid 2px $light_gray;
        }
        &__content {
          padding: 40px 40px 60px;
          &__title {
            max-width: 350px;
            font-size: 16px;
            font-weight: bold;
            margin: 0 auto;
          }
          &__list {
            max-width: 350px;
            margin: 20px auto;
            &__detail {
              width: 100%;
              line-height: 1.5;
            }
            &__delete {
              width: 25%;
              &--btn {
                border: solid 1px $light_blue;
                border-radius: 4px;
                padding: 2px 5px;
                @include link();
              }
            }
          }
          &__add {
            max-width: 350px;
            margin: 0 auto;
            padding: 24px 0;
            &--btn {
              background-color: $light_blue;
              border: 1px solid $light_blue;
              color: $white;
              display: block;
              width: 100%;
              line-height: 48px;
              font-size: 14px;
              text-align: center;
              transition: all ease-out .3s;
              text-decoration: none;
              .card-icon {
                margin: 0 10px 0 0;
              }
            }
          }
          &__help {
            font-size: 14px;
            color: $blue;
            text-align: right;
            border-top: solid 2px $light_gray;
            padding: 40px 0 0 0;
            &--link {
              @include link();
              &:hover {
                text-decoration: underline;
                opacity: 0.7
              }
            }
            .arrow-right-icon {
              margin: 0 0 8px 0;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}