// Place all the styles related to the tests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  box-sizing: border-box;
}

.main {
  .main-visual {
    width: 100%;
    height: 560px;
    background-image: url("/images/pict/bg-mainVisual-pict_pc.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    padding: 0 60px;
    display: flex;
    align-items: center;
    &__content {
      width: 100%;
      color: white;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      margin: 0 auto;
      padding-top: 35px;
    }
    &__subtitle {
      font-size: 60px;
      line-height: 1.2;
    }
    &__text {
      font-size: 18px;
      line-height: 1.8;
      margin: 16px 0 24px;
    }
  }
  .main-introduction {
    padding: 60px 20px;
    &__subtitle {
      font-size: 26px;
      font-weight: bold;
      line-height: 1.4;
      text-align: center;
      padding-bottom: 15px;
      margin-bottom: 25px;
      position: relative;
      &:after {
        content: "";
        width: 70px;
        height: 4px;
        background-color: #3ccace;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &__lists {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    &__list {
      width: 30%;
    }
    &__image {
      margin-bottom: 20px;
      position: relative;
      z-index: 1;
    }
    &__img {
      width: 100%;
      vertical-align: bottom;
      // height: 200px;
    }
    &__number {
      font-size: 30px;
      color: #fff;
      padding: 10px 20px;
      background-color: #3ccace;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }
    &__text {
      font-size: 24px;
      font-weight: bold;
      span {
        color: #3ccace;
      }
    }
    &__description {
      font-size: 18px;
      margin-top: 16px;
    }
  }
  .main-middle {
    height: 400px;
    background-image: url("/images/pict/bg-topMiddleDl-pict.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right bottom;
    display: flex;
    align-items: center;
    &__content {
      width: 100%;
      color: white;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      margin: 0 auto;
      padding-top: 35px;
    }
    &__subtitle {
      font-size: 27px;
      font-weight: bold;
      line-height: 1.4;
    }
    &__text {
      font-size: 18px;
      line-height: 1.5;
      margin: 20px 0 30px;
    }
  }
  .main-feature {
    padding: 60px 100px;

    &__head {
      font-size: 27px;
      font-weight: bold;
      line-height: 1.5;
      text-align: center;
      padding-bottom: 15px;
      margin-bottom: 25px;
      position: relative;
      &:after {
        content: "";
        width: 70px;
        height: 4px;
        background-color: #3ccace;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &__lists {
      display: flex;
      justify-content: space-evenly;
    }
    &__list {
      width: calc( 1/3 * 100% );
      padding: 0 20px;
    }
    &__image {
      width: 70%;
      margin: 0 auto;
    }
    &__img {
      width: 100%;
      // line-height: 120px;
      vertical-align: bottom;
      
    }
    &__subtitle {
      font-size: 19px;
      font-weight: bold;
      margin: 30px 0 10px;
    }
    &__detail {
      font-size: 17px;
      margin-bottom: 40px; 
    }
  }
  .main-pickup {
    background-color: #f8f8f8;
    padding-top: 80px;
    padding-bottom: 25px;
    &:last-child {
      padding-bottom: 80px;
    }
    &__head {
      font-size: 28px;
      font-weight: bold;
      line-height: 1.4;
      text-align: center;
    }
    &__product-head {
      text-align: center;
      margin-bottom: 25px;
      a {
        font-size: 24px;
        font-weight: bold;
        color: #3ccace;
        text-decoration: none;

      }
    }
    &__product-title {
    }
    &__product-lists {
      width: 780px;
      margin: 0 auto;
      display: flex;
      justify-content: space-evenly;
    }
    &__product-list {
      width: 220px;
      &--image {
        width: 220px;
        height: 150px; 
      }
      &--img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &--body {
        color: #333;
        background-color: white;
        padding: 16px;
      }
      &--name {
        font-size: 16px;
        line-height: 1.5;
      }
      &--detail {
        font-size: 16px;
        display: flex;
        justify-content: space-between;
      }
      &--price {
        span {
          font-size: 10px;
        }
      }
      &--like {
        height: 16px;
      }
      &--like-icon {
        
      }
      a {
        text-decoration: none;
      }
    }
  }
}