.app-logo  
  .app-logo__apple
    = link_to image_tag("https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2010-06-15&kind=iossoftware&bubble=ios_apps"), "https://apps.apple.com/jp/app/apple-store/id375380948?mt=8"
  .app-logo__google
    = link_to image_tag("https://play.google.com/intl/ja_jp/badges/static/images/badges/ja_badge_web_generic.png"), "http://play.google.com/store/?pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"