.wrapper {
  .address-container {
    width: 1028px;
    @include clearfix();
    padding: 40px 0;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    .address-detail {
      width: 650px;
      background-color: $white;
      &__head {
        font-size: 24px;
        font-weight: bold;
        padding: 12px 4%;
        border-bottom: 1px solid $light_gray;
        text-align: center;
        font-size: 18px;
        background-color: $white;
        font-weight: bold;
      }
      .address-form {
        width: 350px;
        margin: 0 auto;
        &__contents {
          @include form-label();
          padding-right: 0;
          padding-left: 0;
          select {
            @include field();
            margin-top: 10px;
          }
          &--hidden {
            display: none;
            padding-top: 0;
          }
          &--nonlabel {
            padding-left: 15px;
            @include field();
          }
          &--btn {
            @include btn(); 
            &--delete {
              @include btn();
              background-color: $pale_gray;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}