.mypage {
  min-width: 1068px;
  background-color: $light_gray;
//   .mypage-main {
//     width: 1020px;
//     margin: 40px auto 0;
//     padding: 0 0 40px;
//     @include clearfix();
  .mypage-middle {
    width: 100%;
    &__content {
      width: 100%;
      height: 350px;
      padding: 60px;
      &--logout {
        line-height: 50px;
        font-size: 18px;
        text-align: center;
        margin: 20px 0;
      }
      &--backhome {
        width: 180px;
        text-align: center;
        background-color: $light_gray;
        margin: 0 auto; 
        border: solid 1px $light_blue; 
        border-radius: 5px;
        a {
          color: black;
          display: block;
          text-decoration: none;
          padding: 10px;
        }
      }
    }
  }
}