.user-footer {
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  height: 250px;
  padding: 40px 0;
  text-align: center;
  background-color: $light_gray;
  &__list {
    margin: 0;
    &__container {
      flex-direction: row;
      &__link {
        text-decoration: none;
        color: $gray;
        font-size: 12px;
        margin: 0;
      }
    }
  }
  &__logo {
    margin: 40px auto 0;
    vertical-align: middle;
    margin: 40px 0 0;
    display: inline-block;
    height: 40px;
    width: 120px;
    background-color: $light_gray;
  }
  &__inc {
    font-size: 13px;
    padding: 40px;
  }
}